<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	// Latest compiled and minified CSS & JS 
	script(src='//code.jquery.com/jquery.js')
body
	
	h1 Learn Web Development
	form.h.
		- weekly_time: How many hours do you learn web development per week?​
			radio
				Less than 5 hours
				More than 5 hours and less than 10 hours
				More than 10 hours and less than 15 hours
				More than 15 hours
		- total_time: How long have you been trying to learn web development?​
			radio
				Less than 3 months	
				More than 3 months and less than 6 months
				More than 6 months and less than 12 months
				More than 12 months
		- monthly_money: How much money per month do you invest on learning web development?​
			radio
				Less than $20
				$21 to $50
				$51 to $100
				$101 to $200
				$201 to $500
				$501 to $1000
				More than $1000
		- learning_resources: How have you learned? Which resources do you use?​
			checkbox
				Youtube
				Udemy
				Coursera
				University online courses
				Other or specify
		- built_things: What have you built?​ Please share links if you have.
			textarea
		- reason: Why do you want to learn web development?​
			checkbox
				Get a job
				Build a product
				Earn more money
				Have more time to spend with your family and your own
				Other
		- email: Write your email here if you want to talk more about your needs

	script(src='http://rawgit.com/juanpastas/hacker_form/master/dist/hacker_form.js')
	style
		:stylus
			label
				margin 0.5ex 0
				display inline-block